<div class="col-md-4 col-sm-6">
  <div class="card p-4">
    <img class="me" src="https://gravatar.com/avatar/25b1fc64ba12614875c1e467d7e4c86e?s=512" alt="" />
    <div class="card-block">
      <h3 class="card-title">Nebras Otman</h3>
      <p class="card-text"><strong>Quote</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text"><strong>Comes from:</strong> Damascus, Syria
        <br/>
        <strong>Lives in:</strong> Berlin
        <br/>
        <strong>Favourite Technologies:</strong> Node JS</p>
      <div class="social">
        <a href="https://twitter.com/bphillips201"><i id="twitter" class="icon-twitter"></i></a>
        <i id="github" class="icon-github"></i>
        <i id="stack" class="icon-stackexchange"></i>
        <i id="linkedin" class="icon-linkedin-sign"></i>
      </div>
    </div>
  </div>
</div>