<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Our class</title>
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
</head>

<body>
  <div class="upper-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <i class="fa fa-phone"></i> <span> 26142018</span>, <i class="fa fa-envelope-o"></i> Devugess@det.de
                </div>
            </div>
        </div>
    </div>
    <!-- here end upper bar-->
    <!-- here start nav bar-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#"><span>Our</span><span>Class</span>
  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Login </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- here end nav bar-->
    <!-- here start slider-->
    <div class="slider" id="slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <h1> We Are Devugees Class IV <br>Programming Master Class and <span>Development</span><br>Team.</h1>
                <div class="overlay"></div>
                <div class="carousel-item carousel-one active">
                </div>
                <div class=" carousel-item  carousel-two">
                </div>
                <div class="carousel-item carousel-three">
                </div>
            </div>
        </div>
    </div>
    <!-- here start slider-->
    <!-- here start overview-->
    <div class="overview text-center" id="overview">
        <div class="container">
            <h1>Our Class - Devugess IV</h1>
            <p>Full Width Slider. image slider jquery javascript+html code example for website design,Full Width Slider. image slider jquery javascript+html code example for website design,image slider jquery javascript+html code example for website design,Full Width Slider.
            </p>
            <h4>Lets Start Today</h4>
        </div>
    </div>
    <!-- here end overview-->
    <!-- here start features-->

    <!-- here end features-->
    <!-- here start latest-->
    <div class="latest-post ">
        <div class="container">
            
            <div class="row" id="here">
                <!-- here start grid column-->
                <div class="col-md-4 col-sm-6">
                  <div class="card p-4">
                    <img class="me" src="https://gravatar.com/avatar/25b1fc64ba12614875c1e467d7e4c86e?s=512" alt="" />
                    <div class="card-block">
                    <h3 class="card-title">Nebras Otman</h3>
                    <p class="card-text"><strong>Quote</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><strong>Comes from:</strong> Damascus, Syria <br/>
                      <strong>Lives in:</strong> Berlin<br/>
                      <strong>Favourite Technologies:</strong> Node JS</p>
                    <div class="social">
                        <a href="https://twitter.com/bphillips201"><i id="twitter" class="icon-twitter"></i></a>
                        <i id="github" class="icon-github"></i>
                        <i id="stack" class="icon-stackexchange"></i>
                        <i id="linkedin" class="icon-linkedin-sign"></i>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- here end grid columan-->
                <!-- here start grid column-->
<div class="col-md-4 col-sm-6">
                  <div class="card p-4">
                    <img class="me" src="https://gravatar.com/avatar/25b1fc64ba12614875c1e467d7e4c86e?s=512" alt="" />
                    <div class="card-block">
                    <h3 class="card-title">Nebras Otman</h3>
                    <p class="card-text"><strong>Quote</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><strong>Comes from:</strong> Damascus, Syria <br/>
                      <strong>Lives in:</strong> Berlin<br/>
                      <strong>Favourite Technologies:</strong> Node JS</p>
                    <div class="social">
                        <a href="https://twitter.com/bphillips201"><i id="twitter" class="icon-twitter"></i></a>
                        <i id="github" class="icon-github"></i>
                        <i id="stack" class="icon-stackexchange"></i>
                        <i id="linkedin" class="icon-linkedin-sign"></i>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- here end grid column-->
                <!-- here start grid column-->
<div class="col-md-4 col-sm-6">
                  <div class="card p-4">
                    <img class="me" src="https://gravatar.com/avatar/25b1fc64ba12614875c1e467d7e4c86e?s=512" alt="" />
                    <div class="card-block">
                    <h3 class="card-title">Nebras Otman</h3>
                    <p class="card-text"><strong>Quote</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><strong>Comes from:</strong> Damascus, Syria <br/>
                      <strong>Lives in:</strong> Berlin<br/>
                      <strong>Favourite Technologies:</strong> Node JS</p>
                    <div class="social">
                        <a href="https://twitter.com/bphillips201"><i id="twitter" class="icon-twitter"></i></a>
                        <i id="github" class="icon-github"></i>
                        <i id="stack" class="icon-stackexchange"></i>
                        <i id="linkedin" class="icon-linkedin-sign"></i>
                    </div>
                  </div>
                  </div>
                </div>
<div class="col-md-4 col-sm-6">
                  <div class="card p-4">
                    <img class="me" src="https://gravatar.com/avatar/25b1fc64ba12614875c1e467d7e4c86e?s=512" alt="" />
                    <div class="card-block">
                    <h3 class="card-title">Nebras Otman</h3>
                    <p class="card-text"><strong>Quote</strong> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><strong>Comes from:</strong> Damascus, Syria <br/>
                      <strong>Lives in:</strong> Berlin<br/>
                      <strong>Favourite Technologies:</strong> Node JS</p>
                    <div class="social">
                        <a href="https://twitter.com/bphillips201"><i id="twitter" class="icon-twitter"></i></a>
                        <i id="github" class="icon-github"></i>
                        <i id="stack" class="icon-stackexchange"></i>
                        <i id="linkedin" class="icon-linkedin-sign"></i>
                    </div>
                  </div>
                  </div>
                </div>
                <!-- here end grid column-->
            </div>
        </div>
    </div>
    <!-- here ends latest-->
    <!-- here start testimonials -->
    <div class="testimonials">
        <div class="overlay">
            <div class="container">
            </div>
        </div>
    </div>
    <!-- here ends testimonials -->
<footer>
     <div class="container-fluid bg-primary py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div class="row py-0">
          <div class="col-sm-1 hidden-md-down">
              <a class="bg-circle bg-info" href="#">
                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
              </a>
            </div>
            <div class="col-sm-11 text-white">
                <div><h4>  Contact</h4>
                    <p>   <span class="header-font">M</span>y<span class="header-font">w</span>website.com</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-5">
          <div class="d-inline-block">
            <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
              <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
    </a>
            </div>
            <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
              <a href="https://twitter.com/">
                <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
            </div>

            <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
              <a href="https://www.linkedin.com/company/">
                <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
            </div>
            <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
              <a href="https://www.google.com/">
                <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</footer>
    <!--/.footer-->
<p class="text-center"> Copyright © Footer Mywebsite Plugin 2014. All right reserved. </p>

  <script src="./assets/js/additional/jquery.min.js"></script>
  <script src="./assets/js/additional/bootstrap.min.js"></script>
  <script type="module" src="./assets/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>

</html>